/*
 * Trabalho - Web Site - Faculdade Einstein Limeira - 11/2022
 *
 *  Turma - 2º Semestre - TADS
 *  Alunos: 
 *          Guilherme Luiz Machado Machancoses - RA: 0005/22-1
 *          Bruno dos Santos Gomes - RA: 0035/22-1
 *          Carlos Danilo Alves de Souza - RA: 0322/22-1
*/


/*                              Importa fonte à ser usada                                       */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); /* Fonte pagina */
@import url('https://fonts.googleapis.com/css?family=Sofia'); /* Fonte logo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*navegador calcule as dimensões dos elementos*/
    font-family: 'Poppins', sans-serif; /* Set a fonte página inteira*/
}

body {
    background-color: rgb(240, 240, 240);
}

.div-main {
    margin: auto;
}

header {
    background-color: #18929D;
    display: flex; /*forcar conteudo em linhas e colunas*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    padding-top: 5px;
    padding-bottom: .5px;
}

.logo {
    justify-content: center;;
    display: flex;
    gap: 7px; /*espaçamento*/
}

.logo a {
    align-items: center;
}

.logo img {
    align-items: center;
    height: 48px;
    border-radius: 100%;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.500);
}

.logo span {
    font-family: "Sofia", sans-serif; /* Set a fonte logo */
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

li {
    margin-left: 7px;
}
li a {
    text-decoration: none; /* remover sublinhar - link */
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
li a:hover {
    background-color: white;
    color:#18929D;
}

.banner {
    height: auto;
    background: linear-gradient( rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0.663)),url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:10px;
}

section {
    overflow-x: hidden; /*faz com que os conteúdos dentro dela não ultrapassem os limites*/
}

nav {
    align-items: center; 
    display: block;
    justify-content:space-between;
}

.promotion-header {
    background-color: rgb(230, 235, 248);
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 5%;
    nav-left: auto;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

main {
    display: flex; 
    justify-content: space-between;
    padding: 30px 5%;
}

.product-page {
    display: flex; 
    flex-direction: column; /*set apenas esse conteudo como coluna*/
    display: block;
    padding: 0px;
}

.row {
    margin-left: 4em;
    margin-right: 4em;
    display: flex;
    flex-direction: row;/*set apenas esse conteudo como fileiras*/ 
    justify-content: space-around;
    padding: auto;
    flex-wrap: wrap; /*forcça ficar na mesma linha, permite quebras de linhas*/
}

.product-container {
    float: left;
    padding: 30px 60px;
    border: 2px solid transparent;
    transition: 0.5s;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product img {
    cursor: pointer;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product img:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(178, 178, 178, 0.1);
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.500);
    transform: scale(1.3);
}

.product span {
    font-weight: 700;
}


.product .popup-image {
    position: fixed; /*posiciona de ignorando barre de rolagem*/
    top: 0; left: 0;
    background : rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100; /*set sobreposição*/
    /* display: none;   Desabilita popup de inicio */
}

.product .popup-image span {
    position: absolute; /*posiciona de acordo com o elemento*/
    top: 0; right: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.product .popup-image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid transparent;
    border-radius: 5px;
    width: 650px;
    height: 650px;
    outline: cover;
}

.price {
    color: #18929D;
}

footer {
    background-color: #eee;
}

.footer-top {
    background-color: rgb(230, 235, 248);
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ddd;
    padding: 20px 5%;
}

.footer-top--left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-top--left a {
    color: #161616;
    font-weight: 700;
    text-decoration: none;
}

.footer-top--left a:hover {
    text-decoration: underline;
}

.footer-top--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer-top--right span {
    color: #161616;
    font-weight: 700;
}

.footer-news-letter {
    display: flex;
    align-items: center;
}

.footer-input {
    width: 250px;
    height: 40px;
    padding: 10px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 4px;
}

.footer-button {
    cursor: pointer;
    width: 90px;
    height: 40px;
    color: white;
    font-weight: 700px;
    border: 1px solid #eee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 40px;
    background-color: #5ca720;
    transition: 0.2s;
}

.footer-button:hover {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 4px;
}

.footer-bottom {
    text-align: center;
    font-size: 13px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5%;
    border-top: 2px solid #ddd;
}

.footer-bottom--left, .footer-bottom--right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer p {
    padding: 10px;
    color: rgb(255, 255, 255);
}

footer p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

.footer-image {
    height: 25px;
    align-items: center;
}

.product .botoes button {
    margin: auto;
    flex-direction: center;
    align-items: center;
    border: 3px solid transparent;
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.product .botoes button.n-overlay {
    margin: auto;
    align-items: center;
    border-radius: 10px;
    color: white;
    background:  #18929D;
    border: 2px solid white;
    border: 3px solid transparent;
    cursor: pointer;   
}

.product .botoes button.n-overlay:hover {
    align-items: center;
    border-radius: 10px;
    color:  #18929D;
    background-color: white;
    box-shadow: 5px 3px 10px #18929D;
    border: 3px solid transparent;
    cursor: pointer;
}

.texto .botoes button.overlay {
    border-radius: 10px;
    font-size: 17px;
    font-weight: 400;
    width: 180px;
    border: 5px solid transparent;
    background: #18929D;
    color: white;
    animation: vibrar 0.5s ease-in-out infinite both;
    box-shadow: 5px 3px 10px #18929D;
    cursor: pointer;
}

@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/* Bruno Cadastro */

.cadastro h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .5px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.cadastro h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 50px;
    width: 0 auto;
    height: 0 auto;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0px;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 700;
  letter-spacing: .09em;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border-radius: 50px;
  height: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.flex-outer li button.botao {
  margin-left: auto;
  padding: 8px 16px;
  letter-spacing: .09em;
  border-radius: 50px;
  color: white;
  background:  #18929D;
  border: 2px solid white;
  border: 3px solid transparent;
}

.flex-outer li button.botao:hover {
  margin-left: auto;
  padding: 8px 16px;
  letter-spacing: .09em;
  border-radius: 50px;
  align-items: center;
  color:  #18929D;
  background-color: white;
  box-shadow: 5px 3px 10px #18929D;
  border: 3px solid transparent;
  cursor: pointer;
}

.flex-inner li {
  width: 100px;
}

/* Carlos */

.textobox {
    color: #000000;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}

.container {
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-spacing: 100px;
    padding: 100px;
    padding-top: 20px;
    padding-bottom:20px;
}

.container p {
    text-align: left;
    justify-content:space-between;
    padding: 5px;
}

.container .imagebox {
    margin: 4em;
    padding: 10px;
    border-radius: 50px;
    /* margin-right: 50px; */
}


/* TERMO PRIVACIDADE */

.container-private {
    margin-top: 2em;
    color: #000000;
    font-size: 10px;
    border-spacing: 80px;
    padding: 100px;
    padding-top: 10px;
    padding-bottom:10px;
    flex-wrap: wrap;     
}

.container-private p, li {
    text-align: left;
}

.cadastro-private h1 {
    margin-left: 100px;
    display: flex;
    justify-content: left;;
    align-items: left;
    padding-bottom: .5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;   
}

.color-private-title {
    font-size: 33px;
    color: #18929D;
}

.color-private {
    font-size: 20px;
    color: #18929D;
}
