/*
 * Trabalho - Web Site - Faculdade Einstein Limeira - 11/2022
 *
 *  Turma - 2º Semestre - TADS
 *  Alunos: 
 *          Guilherme Luiz Machado Machancoses - RA: 0005/22-1
 *          Bruno dos Santos Gomes - RA: 0035/22-1
 *          Carlos Danilo Alves de Souza - RA: 0322/22-1
*/

/*                              Importa fonte à ser usada                                       */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); /* Fonte pagina */
@import url('https://fonts.googleapis.com/css?family=Sofia'); /* Fonte logo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Set a fonte página */
}
nav{
    background-color: #18929D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    padding-top: 5px;
    padding-bottom: .5px;
}

.logo {
    justify-content: center;;
    display: flex;
    gap: 7px; /*espaçamento*/
}

.logo a {
    align-items: center;
}

.logo img {
    align-items: center;
    height: 48px;
    border-radius: 100%;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.500);
}

.logo span {
    font-family: "Sofia", sans-serif; /* Set a fonte logo */
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: white;
    color: black;
}
.banner{
    height: 100vh;
    background: linear-gradient( rgba(0,0,0,0.281), rgba(0,0,0,0.308)),url('background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.texto .titulo{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.texto .sub_titulo{
    color: #fff;
    font-size: 48px;
    font-weight: 600;
}
.texto .botoes{
    margin-top: 30px;
}
.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.texto .botoes button.n-overlay{
    color: white;
    background: none;
    border: 2px solid white;
}
.texto .botoes button.n-overlay:hover{
    color: black;
    background-color: white;
}
.texto .botoes button.overlay{
    background: white;
    color: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}
@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
