/* Importa fonte a ser usada */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia');

/* Define regras para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Define regras para o body */
body {
  background-color: rgb(240, 240, 240);
}

/* Define regras para a div com a classe "div-main" */
.div-main {
  margin: auto;
}

/* Define regras para o header */
header {
  background-color: #18929D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px 0.5px;
}

/* Define regras para a logo */
.logo {
  display: flex;
  gap: 7px;
  justify-content: center;
}

.logo a, .logo img {
  align-items: center;
}

.logo img {
  height: 48px;
  border-radius: 100%;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.500);
}

.logo span {
  font-family: "Sofia", sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

/* Define regras para a lista */
ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
}

li {
  margin-left: 7px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

li a:hover {
  background-color: white;
  color: #18929D;
}

/* Define regras para o banner */
.banner {
  height: auto;
  background: linear-gradient(rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0.663)), url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 0px;
}

/* Define regras para a seção */
section {
  overflow-x: hidden;
}

/* Define regras para a navegação */
nav {
  align-items: center;
  display: block;
  justify-content: space-between;
}

/* Define regras para o cabeçalho da promoção */
.promotion-header {
  background-color: rgb(230, 235, 248);
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 5%;
  nav-left: auto;
}

/* Define regras para a linha */
.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

/* Define regras para a seção principal */
main {
  display: flex;
  justify-content: space-between;
  padding: 30px 5
}